


# change this to your billing-enabled project!
# if ran in devsehll, this might work out of the box :)
PROJECT_ID="$DEVSHELL_PROJECT_ID"

# can be EU or US
DATA_LOCATION="EU"

# Your organizationId, needed to grant access.
ORGANIZATION_ID="1234567"
